<!-- BEGIN: main -->
<!-- <script type="text/javascript" src="{WEB_PATH}libs/ckeditor/ckeditor.js"></script>  -->
<style>
#formTabs{

}
#formTabs fieldset {
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 4px 4px 0 0;
    box-shadow:none;
    margin-top: 1em;
    padding: 1.5em;
    text-shadow: 0 1px 0 #FFFFFF;
}

#upload-file-container {
	width: 90px;
	height: 90px;
	position: relative;
	border:2px solid;
	border-radius:20px;
	border-color:rgb(58,147,231);
	color:rgb(58,147,231);
	overflow: hidden;
	float:right;
}

#upload-file-container input[type="file"] {
	margin: 0;
	opacity: 0;
	font-size: 100px;
}
.tooltip {
	position: relative;
}
.tooltip:before,
.tooltip:after {
	display: block;
	opacity: 0;
	pointer-events: none;
	position: absolute;
}
.tooltip:after {
	border-right: 6px solid transparent;
	border-bottom: 6px solid rgba(0,0,0,.75);
	border-left: 6px solid transparent;
	content: '';
	height: 0;
	top: 20px;
	left: 20px;
	width: 0;
}
.tooltip:before {
	background: rgba(0,0,0,.75);
	border-radius: 2px;
	color: #fff;
	content: attr(data-title);
	font-size: 14px;
	padding: 6px 10px;
	top: 26px;
	white-space: nowrap;
}

/* the animations */
/* fade */
.tooltip.fade:after,
.tooltip.fade:before {
	transform: translate3d(0,-10px,0);
	transition: all .15s ease-in-out;
}
.tooltip.fade:hover:after,
.tooltip.fade:hover:before {
	opacity: 1;
	transform: translate3d(0,0,0);
}

/* expand */
.tooltip.expand:before {
	transform: scale3d(.2,.2,1);
	transition: all .2s ease-in-out;
}
.tooltip.expand:after {
	transform: translate3d(0,6px,0);
	transition: all .1s ease-in-out;
}
.tooltip.expand:hover:before,
.tooltip.expand:hover:after {
	opacity: 1;
	transform: scale3d(1,1,1);
}
.tooltip.expand:hover:after {
	transition: all .2s .1s ease-in-out;
}

/* swing */
.tooltip.swing:before,
.tooltip.swing:after {
	transform: translate3d(0,30px,0) rotate3d(0,0,1,60deg);
	transform-origin: 0 0;
	transition: transform .15s ease-in-out, opacity .2s;
}
.tooltip.swing:after {
	transform: translate3d(0,60px,0);
	transition: transform .15s ease-in-out, opacity .2s;
}
.tooltip.swing:hover:before,
.tooltip.swing:hover:after {
	opacity: 1;
	transform: translate3d(0,0,0) rotate3d(1,1,1,0deg);
}

/* basic styling: has nothing to do with tooltips: */
h1 {
	padding-left: 50px;
}
ul {
	margin-bottom: 40px;
}
li {
	cursor: pointer;
	display: inline-block;
	padding: 0 10px;
}
</style>
<script type="text/javascript">



$(function() {

	$( "#tabs" ).tabs();
});



$(function() {

        $("#{form_id}").submit(function(e) {
        	
        	if( $("#{form_id}_input_submit").length > 0){
        		$submit = $("#{form_id}_input_submit");
            	$restoreOpacity = $submit.css("opacity");	
        	}
        	
        	
        	 e.preventDefault();
        	 
        	 if( {useAjaxSubmit} ) {

                	submitAjaxForm('{form_id}', '{action}', {onSuccessCallback},{beforeSubmit});
                	
                	return false;
             }else{
            	 
            	
         		$submit.css({"opacity":$restoreOpacity});
         		$submit.removeAttr( "disabled" );
             }
        	 
        	 
        	 
        });
	
            								
});

function  seleccionarInstitucion(ds_institucion){
	$("#item-div-ds_orgbeca").append("<span id='iconoLoading' style='position:absolute;'><img src='css/grid/loading.gif' /></span>")
	jQuery.ajax({
		url:"doAction?action=add_solicitud_tipo_beca&ds_institucion=" + ds_institucion.value,
		dataType:"json",
		success: function(data){

			if( data != null && data["error"]!=null){
				showMessageError( data["error"], true );
				//inhabilitar el submit.
				$("#edit_solicitud_input_submit_ajax").hide();
			}

			else{
				$("#edit_solicitud_input_submit_ajax").show();
				var tipobeca = $("#ds_tipobeca").val();
				$("#ds_tipobeca").empty();
				$.each(data, function(k,v){
					$("#ds_tipobeca").append("<option value=\""+k+"\">"+v+"</option>");
				});
				$("#ds_tipobeca").val(tipobeca);
			}
			$("#iconoLoading").remove();
		}
	});


}

function  seleccionarEquivalencia(cd_equivalencia){
	$("#item-div-ds_orgbeca").append("<span id='iconoLoading' style='position:absolute;'><img src='css/grid/loading.gif' /></span>")
	jQuery.ajax({
		url:"doAction?action=add_solicitud_categoria_equivalencia&cd_equivalencia=" + cd_equivalencia.value+"&cd_categoria=" + $("#categoria_oid").val(),
		dataType:"json",
		success: function(data){

			if( data != null && data["error"]!=null){
				showMessageError( data["error"], true );
				//inhabilitar el submit.
				$("#edit_solicitud_input_submit_ajax").hide();
			}

			else{
				$("#edit_solicitud_input_submit_ajax").show();
				var categoriasolicitada_oid = $("#categoriasolicitada_oid").val();
				$("#categoriasolicitada_oid").empty();
				$.each(data, function(k,v){
					$("#categoriasolicitada_oid").append("<option value=\""+k+"\">"+v+"</option>");
				});
				$("#categoriasolicitada_oid").val(categoriasolicitada_oid);
			}
			$("#iconoLoading").remove();
		}
	});


}

function uploadAjax(file, action, name){
	var file = file.files[0];
	var data = new FormData();
	var $submit_ajax = $("#{form_id}_input_submit_ajax");
	var $restoreOpacity = $submit_ajax.css("opacity");
	data.append(name,file);
	 $.ajax({
	            url:action,
	            type:'POST',
	            contentType:false,
	            data:data,
	            processData:false,  
	            cache:false,
	            beforeSend: function(){
					$submit_ajax.css({opacity:0.5});
					$submit_ajax.attr("disabled", "disabled");
					$("#"+name+"_cargado").html("");
				  },
				  complete: function(){ 
				  },
				  error: function(){ 
					 	
					 	$submit_ajax.css({"opacity":$restoreOpacity});
					 	$submit_ajax.removeAttr( "disabled" )
					  },
				  success: function(content){
				    
					
					$submit_ajax.css({"opacity":$restoreOpacity});
					$submit_ajax.removeAttr( "disabled" );
					 
					
					
				  }
					  
	            
	 }).done(function(msg){
		    $("#"+name+"_cargado").append(msg); //Mostrara los archivos cargados en el div con el id "Cargados"
	  });
	}


function successDefault_{form_id}(data ){

	try {
		
		 jsondata = $.parseJSON(data);

		 if( jsondata != null && jsondata["error"]!=null){
				showMessageError( jsondata["error"], false );
			}

		 if( jsondata != null && jsondata["info"]!=null){
				//showMessageInfo( jsondata["info"], false );
				//$('#{form_id}').reset();
				{onCancel};
				
			}			
	} catch (e) {
	   return;
	}
	
	
}



</script>

<form <!-- BEGIN: property --> {name}="{value}" <!-- END: property --> >
<a name="ancla" id="ancla"></a>
	<!-- BEGIN: fieldset -->
		<fieldset>
	    <!-- BEGIN: legend -->
		<legend>{value}</legend>
		<!-- END: legend -->
			<div style="position:relative;display: flex;align-items: center;">

				<!-- BEGIN:column -->
			<div style="position: relative; float: left; width: 30%;">
					<!-- BEGIN: ds_investigador -->
					<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">
					    
					    <!-- BEGIN: label -->
					    <label for="{input_name}">{value} {required}:</label>
					    <!-- END: label -->
					    <!-- BEGIN: input -->
					    {input}
					    <!-- END: input -->
					</div>
					<!-- END: ds_investigador -->
					<!-- BEGIN: nu_cuil -->
					<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">
					    
					    <!-- BEGIN: label -->
					    <label for="{input_name}">{value} {required}:</label>
					    <!-- END: label -->
					    <!-- BEGIN: input -->
					    {input}
					    <!-- END: input -->
					</div>
					<!-- END: nu_cuil -->
			</div>
			<div style="position: relative; float: left; width: 50%;">
				<!-- BEGIN: ds_foto -->

				<div class="item" style="min-width: {minWidth};display:{display};text-align: right;"  id="item-div-ds_foto">


					<br>
					<span id="ds_foto_cargado" >
						  <!-- Aqui van los archivos cargados -->
						  {ds_foto_cargado}
						</span>
					<!-- BEGIN: input -->
					<br>
					<input id="ds_foto" type="file" placeholder="Foto" value="" size="32" name="ds_foto" onChange="uploadAjax(this,'{actionFile}','ds_foto')">
					<!-- END: input -->

					<div style="color:#A43B3B; font-weight:bold">{label_foto}</div>
				</div>
				<!-- END: ds_foto -->

			</div>
				<!-- END:column -->

			</div>
	</fieldset>
	<!-- END: fieldset -->
	<!-- BEGIN: field_hidden -->
	{input_hidden}
	<!-- END: field_hidden -->
	<div id="tabs">
	<ul>
		
		<li><a href="#tabs-1">{domicilio_tab}</a></li>
		<li><a href="#tabs-2">{universidad_tab}</a></li>
		<li><a href="#tabs-3">{becario_tab}</a></li>
		<li><a href="#tabs-4">{carrerainv_tab}</a></li>
		<li><a href="#tabs-5">{proyectos_tab}</a></li>
		<li><a href="#tabs-6">{descripcion_tab}</a></li>
		
	</ul>
<div id="formTabs">
<fieldset>	

	
	<div id="tabs-1" style="position:relative;">

		{titulo_domicilio}
		<!-- BEGIN: ds_calle -->
					<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">
					    
					    <!-- BEGIN: label -->
					    <label for="{input_name}">{value} *:</label>
					    <!-- END: label -->
					    <!-- BEGIN: input -->
					    {input}
					    <!-- END: input -->
					</div>
		<!-- END: ds_calle -->
		<!-- BEGIN: nu_nro -->
					<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}" >
					    
					    <!-- BEGIN: label -->
					    <label for="{input_name}">{value} *:</label>
					    <!-- END: label -->
					    <!-- BEGIN: input -->
					    {input}
					    <!-- END: input -->

					</div>
		<!-- END: nu_nro -->
		<!-- BEGIN: nu_piso -->
					<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">
					    
					    <!-- BEGIN: label -->
					    <label for="{input_name}">{value} {required}:</label>
					    <!-- END: label -->
					    <!-- BEGIN: input -->
					    {input}
					    <!-- END: input -->
					</div>
		<!-- END: nu_piso -->
		<!-- BEGIN: ds_depto -->
					<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">
					    
					    <!-- BEGIN: label -->
					    <label for="{input_name}">{value} {required}:</label>
					    <!-- END: label -->
					    <!-- BEGIN: input -->
					    {input}
					    <!-- END: input -->
					</div>
		<!-- END: ds_depto -->
		<!-- BEGIN: nu_cp -->
					<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">
					    
					    <!-- BEGIN: label -->
					    <label for="{input_name}">{value} *:</label>
					    <!-- END: label -->
					    <!-- BEGIN: input -->
					    {input}
					    <!-- END: input -->
					</div>
		<!-- END: nu_cp -->
		<!-- BEGIN: ds_mail -->
					<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">
					    
					    <!-- BEGIN: label -->
					    <label for="{input_name}">{value} *:</label>
					    <!-- END: label -->
					    <!-- BEGIN: input -->
					    {input}
					    <!-- END: input -->
					</div>
		<!-- END: ds_mail -->
		<!-- BEGIN: bl_notificacion -->
					<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">
					    
					 <!-- BEGIN: input -->
					     {value}{input}
					    <!-- END: input -->
					    
					
					   
					</div>
		<!-- END: bl_notificacion -->
		<!-- BEGIN: ds_otromail -->
		<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">

			<!-- BEGIN: label -->
			<label for="{input_name}">{value}:</label>
			<!-- END: label -->
			<!-- BEGIN: input -->
			{input}
			<!-- END: input -->
		</div>
		<!-- END: ds_otromail -->
		<!-- BEGIN: ds_genero -->
		<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">

			<!-- BEGIN: label -->
			<label for="{input_name}">{value}:</label>
			<!-- END: label -->
			<!-- BEGIN: input -->
			{input}
			<!-- END: input -->
		</div>
		<!-- END: ds_genero -->


		<!-- BEGIN: nu_telefono -->
					<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">
					    
					    <!-- BEGIN: label -->
					    <label for="{input_name}">{value} *:</label>
					    <!-- END: label -->
					    <!-- BEGIN: input -->
					    {input}
					    <!-- END: input -->
					</div>
		<!-- END: nu_telefono -->
		<!-- BEGIN: dt_nacimiento -->
					<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">
					    
					    <!-- BEGIN: label -->
					    <label for="{input_name}">{value} *:</label>
					    <!-- END: label -->
					    <!-- BEGIN: input -->
					    {input}
					    <!-- END: input -->
					</div>
		<!-- END: dt_nacimiento -->
		<!-- BEGIN: ds_orcid -->
		<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">

			<!-- BEGIN: label -->
			<label for="{input_name}">{value} *:</label>
			<!-- END: label -->
			<!-- BEGIN: input -->
			{input}
			<!-- END: input -->
		</div>
		<!-- END: ds_orcid -->
		<!-- BEGIN: ds_sedici -->
		<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">

			<!-- BEGIN: label -->
			<label for="{input_name}">{value} *:</label>
			<!-- END: label -->
			<!-- BEGIN: input -->
			{input}
			<!-- END: input -->
		</div>
		<!-- END: ds_sedici -->
		<!-- BEGIN: ds_scholar -->
		<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">

			<!-- BEGIN: label -->
			<label for="{input_name}">{value} *:</label>
			<!-- END: label -->
			<!-- BEGIN: input -->
			{input}
			<!-- END: input -->
		</div>
		<!-- END: ds_scholar -->
		<!-- BEGIN: ds_scopus -->
		<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">

			<!-- BEGIN: label -->
			<label for="{input_name}">{value}:</label>
			<!-- END: label -->
			<!-- BEGIN: input -->
			{input}
			<!-- END: input -->
		</div>
		<!-- END: ds_scopus -->
		<!-- BEGIN: ds_instagram -->
		<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">

			<!-- BEGIN: label -->
			<label for="{input_name}">{value}:</label>
			<!-- END: label -->
			<!-- BEGIN: input -->
			{input}
			<!-- END: input -->
		</div>
		<!-- END: ds_instagram -->
			<!-- BEGIN: ds_twitter -->
			<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">

				<!-- BEGIN: label -->
				<label for="{input_name}">{value}:</label>
				<!-- END: label -->
				<!-- BEGIN: input -->
				{input}
				<!-- END: input -->
			</div>
			<!-- END: ds_twitter -->
			<!-- BEGIN: ds_facebook -->
			<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">

				<!-- BEGIN: label -->
				<label for="{input_name}">{value}:</label>
				<!-- END: label -->
				<!-- BEGIN: input -->
				{input}
				<!-- END: input -->
			</div>
			<!-- END: ds_facebook -->




	</div>
	<div id="tabs-2" style="position:relative;">
		<!-- BEGIN: solicitud_filter_titulo_oid -->
					<div class="item tooltip fade" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}" data-title="{input_help}">

					    
					    <!-- BEGIN: label -->
					    <label for="{input_name}">{value} *:</label>
					    <!-- END: label -->
					    <!-- BEGIN: input -->
					    {input}
					    <!-- END: input -->
					</div>
		<!-- END: solicitud_filter_titulo_oid -->
		<!-- BEGIN: dt_egresogrado -->
					<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}" >
					    
					    <!-- BEGIN: label -->
					    <label for="{input_name}">{value} *:</label>
					    <!-- END: label -->
					    <!-- BEGIN: input -->
					    {input}
					    <!-- END: input -->
					</div>
		<!-- END: dt_egresogrado -->
		<!-- BEGIN: solicitud_filter_tituloposgrado_oid -->
		<div class="item tooltip fade" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}" data-title="{input_help}">
					    
					    <!-- BEGIN: label -->
					    <label for="{input_name}">{value}:</label>
					    <!-- END: label -->
					    <!-- BEGIN: input -->
					    {input}
					    <!-- END: input -->
					</div>
		<!-- END: solicitud_filter_tituloposgrado_oid -->
		<!-- BEGIN: dt_egresoposgrado -->
					<span class="item">
					    
					    <!-- BEGIN: label -->
					    <label for="{input_name}">{value} {required}:</label>
					    <!-- END: label -->
					    <!-- BEGIN: input -->
					    {input}
					    <!-- END: input -->
					</span>
		<!-- END: dt_egresoposgrado -->
		<!-- BEGIN: bl_doctorado -->
					<span class="item"   >
					    
					 <!-- BEGIN: input -->
					     {value}{input}
					    <!-- END: input -->
					    
					
					   
					</span>
		<!-- END: bl_doctorado -->
		
		
		<!-- BEGIN: cargo_oid -->
		<!--<div class="item tooltip fade" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}" data-title="{input_help}">-->
					    
					    <!-- BEGIN: label -->
					    <!--<label for="{input_name}">{value} {required}:</label>-->
					    <!-- END: label -->
					    <!-- BEGIN: input -->
					    <!--{input} -->
					    <!-- END: input -->
					<!-- </div> -->
		<!-- END: cargo_oid -->
		<!-- BEGIN: deddoc_oid -->
		<!--<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}"> -->

            <!-- BEGIN: label -->
		<!--  <label for="{input_name}">{value} {required}:</label> -->
          <!-- END: label -->
					    <!-- BEGIN: input -->
		<!--  {input} -->
          <!-- END: input -->
		<!-- </div> -->
<!-- END: deddoc_oid -->
		<!-- BEGIN: facultad_oid -->
		<!-- <div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}"> -->

            <!-- BEGIN: label -->
		<!--    <label for="{input_name}">{value} *:</label> -->
            <!-- END: label -->
					    <!-- BEGIN: input -->
		<!--	    {input} -->
                <!-- END: input -->
		<!--	</div> -->
<!-- END: facultad_oid -->

		{HTMLCargos}

		<br><br>
		<!-- BEGIN: solicitud_filter_lugarTrabajo_oid -->
					<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">
					    
					    <!-- BEGIN: label -->
					    <label for="{input_name}">{value} *</label><br>
					    <!-- END: label -->
					    <!-- BEGIN: input -->
					    {input}
					    <!-- END: input -->
					</div>
		<!-- END: solicitud_filter_lugarTrabajo_oid -->

		<!-- BEGIN: ds_experticiaD -->
		<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">

			<!-- BEGIN: label -->
			<label for="{input_name}">{value}:</label>
			<!-- END: label -->
			<!-- BEGIN: input -->
			<br><br>{input}
			<!-- END: input -->
		</div>
		<!-- END: ds_experticiaD -->


		<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">
			<label for="claves">Palabras claves:</label>
			<br>
			<!-- BEGIN: ds_claveD1 -->
			<!-- BEGIN: input -->
			{input}
			<!-- END: input -->
			<!-- END: ds_claveD1 -->
			<!-- BEGIN: ds_claveD2 -->
			<!-- BEGIN: input -->
			{input}
			<!-- END: input -->
			<!-- END: ds_claveD2 -->
			<!-- BEGIN: ds_claveD3 -->
			<!-- BEGIN: input -->
			{input}
			<!-- END: input -->
			<!-- END: ds_claveD3 -->
			<!-- BEGIN: ds_claveD4 -->
			<!-- BEGIN: input -->
			{input}
			<!-- END: input -->
			<!-- END: ds_claveD4 -->
			<!-- BEGIN: ds_claveD5 -->
			<!-- BEGIN: input -->
			{input}
			<!-- END: input -->
			<!-- END: ds_claveD5 -->
			<!-- BEGIN: ds_claveD6 -->
			<!-- BEGIN: input -->
			{input}
			<!-- END: input -->
			<!-- END: ds_claveD6 -->

		</div>

		
	</div>

	<div id="tabs-3" style="position:relative;">
		<div style="color:#A43B3B; font-weight:bold">{titulo_becario}</div>
		<!-- BEGIN: ds_orgbeca -->
					<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">
					    
					<!-- BEGIN: label -->
					    <label for="{input_name}">{value} {required}:</label>
					    <!-- END: label -->
					    <!-- BEGIN: input -->
					    {input}
					    <!-- END: input -->
					    
					
					   
					</div>
		<!-- END: ds_orgbeca -->
		<!-- BEGIN: ds_tipobeca -->
					<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">
					    
					 <!-- BEGIN: label -->
					    <label for="{input_name}">{value} {required}:</label>
					    <!-- END: label -->
					    <!-- BEGIN: input -->
					    {input}
					    <!-- END: input -->
					    
					
					   
					</div>
		<!-- END: ds_tipobeca -->
		<!-- BEGIN: dt_becadesde -->
					<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">
					    
					 <!-- BEGIN: label -->
					    <label for="{input_name}">{value} {required}:</label>
					    <!-- END: label -->
					    <!-- BEGIN: input -->
					    {input}
					    <!-- END: input -->
					    
					
					   
					</div>
		<!-- END: dt_becadesde -->
		<!-- BEGIN: dt_becahasta -->
					<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">
					    
					 <!-- BEGIN: label -->
					    <label for="{input_name}">{value} {required}:</label>
					    <!-- END: label -->
					    <!-- BEGIN: input -->
					    {input}
					    <!-- END: input -->
					    
					
					   
					</div>
		<!-- END: dt_becahasta -->
		<!-- BEGIN: solicitud_filter_lugarTrabajoBeca_oid -->
					<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">
					    
					<!-- BEGIN: label -->
					    <label for="{input_name}">{value} {required}:</label>
					    <!-- END: label -->
					    <!-- BEGIN: input -->
					    {input}
					    <!-- END: input -->
					    
					
					   
					</div>
		<!-- END: solicitud_filter_lugarTrabajoBeca_oid -->
		<!-- BEGIN: ds_resbeca -->

		<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-ds_resbeca">

			<!-- BEGIN: label -->
			<label for="ds_resbeca">{value}:</label>
			<!-- END: label -->
			<!-- BEGIN: input -->
			<input id="ds_resbeca" type="file" value="" size="32" name="ds_resbeca" onChange="uploadAjax(this,'{actionFile}','ds_resbeca')">
			<!-- END: input -->
			<span id="ds_resbeca_cargado" >
						  <!-- Aqui van los archivos cargados -->
						  {ds_resbeca_cargado}
						</span>
			<div style="color:#A43B3B; font-weight:bold">{label_resbeca}</div>
		</div>
		<!-- END: ds_resbeca -->

		<!-- BEGIN: ds_experticiaB -->
		<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">

			<!-- BEGIN: label -->
			<label for="{input_name}">{value}:</label>
			<!-- END: label -->
			<!-- BEGIN: input -->
			<br><br>{input}
			<!-- END: input -->
		</div>
		<!-- END: ds_experticiaB -->


		<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">
			<label for="claves">Palabras claves:</label>
			<br>
			<!-- BEGIN: ds_claveB1 -->
			<!-- BEGIN: input -->
			{input}
			<!-- END: input -->
			<!-- END: ds_claveB1 -->
			<!-- BEGIN: ds_claveB2 -->
			<!-- BEGIN: input -->
			{input}
			<!-- END: input -->
			<!-- END: ds_claveB2 -->
			<!-- BEGIN: ds_claveB3 -->
			<!-- BEGIN: input -->
			{input}
			<!-- END: input -->
			<!-- END: ds_claveB3 -->
			<!-- BEGIN: ds_claveB4 -->
			<!-- BEGIN: input -->
			{input}
			<!-- END: input -->
			<!-- END: ds_claveB4 -->
			<!-- BEGIN: ds_claveB5 -->
			<!-- BEGIN: input -->
			{input}
			<!-- END: input -->
			<!-- END: ds_claveB5 -->
			<!-- BEGIN: ds_claveB6 -->
			<!-- BEGIN: input -->
			{input}
			<!-- END: input -->
			<!-- END: ds_claveB6 -->

		</div>
		
	</div>
	<div id="tabs-4" style="position:relative;">
		<!-- BEGIN: organismo_oid -->
					<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">
					    
					<!-- BEGIN: label -->
					    <label for="{input_name}">{value} {required}:</label>
					    <!-- END: label -->
					    <!-- BEGIN: input -->
					    {input}
					    <!-- END: input -->
					    
					
					   
					</div>
		<!-- END: organismo_oid -->
		<!-- BEGIN: carrerainv_oid -->
					<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">
					    
					<!-- BEGIN: label -->
					    <label for="{input_name}">{value} {required}:</label>
					    <!-- END: label -->
					    <!-- BEGIN: input -->
					    {input}
					    <!-- END: input -->
					    
					
					   
					</div>
		<!-- END: carrerainv_oid -->
		<!-- BEGIN: dt_ingreso -->
					<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">
					    
					 <!-- BEGIN: label -->
					    <label for="{input_name}">{value} {required}:</label>
					    <!-- END: label -->
					    <!-- BEGIN: input -->
					    {input}
					    <!-- END: input -->
					    
					
					   
					</div>
		<!-- END: dt_ingreso -->
		<!-- BEGIN: solicitud_filter_lugarTrabajoCarrerainv_oid -->
					<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">
					    
					<!-- BEGIN: label -->
					    <label for="{input_name}">{value} {required}:</label>
					    <!-- END: label -->
					    <!-- BEGIN: input -->
					    {input}
					    <!-- END: input -->
					    
					
					   
					</div>
		<!-- END: solicitud_filter_lugarTrabajoCarrerainv_oid -->

		<!-- BEGIN: ds_rescarrera -->

		<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-ds_rescarrera">

			<!-- BEGIN: label -->
			<label for="ds_rescarrera">{value}:</label>
			<!-- END: label -->
			<!-- BEGIN: input -->
			<input id="ds_rescarrera" type="file" value="" size="32" name="ds_rescarrera" onChange="uploadAjax(this,'{actionFile}','ds_rescarrera')">
			<!-- END: input -->
			<span id="ds_rescarrera_cargado" >
						  <!-- Aqui van los archivos cargados -->
						  {ds_rescarrera_cargado}
						</span>
			<div style="color:#A43B3B; font-weight:bold">{label_rescarrera}</div>
		</div>
		<!-- END: ds_rescarrera -->

		<!-- BEGIN: ds_experticiaC -->
		<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">

			<!-- BEGIN: label -->
			<label for="{input_name}">{value}:</label>
			<!-- END: label -->
			<!-- BEGIN: input -->
			<br><br>{input}
			<!-- END: input -->
		</div>
		<!-- END: ds_experticiaC -->


		<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">
			<label for="claves">Palabras claves:</label>
			<br>
			<!-- BEGIN: ds_claveC1 -->
			<!-- BEGIN: input -->
			{input}
			<!-- END: input -->
			<!-- END: ds_claveC1 -->
			<!-- BEGIN: ds_claveC2 -->
			<!-- BEGIN: input -->
			{input}
			<!-- END: input -->
			<!-- END: ds_claveC2 -->
			<!-- BEGIN: ds_claveC3 -->
			<!-- BEGIN: input -->
			{input}
			<!-- END: input -->
			<!-- END: ds_claveC3 -->
			<!-- BEGIN: ds_claveC4 -->
			<!-- BEGIN: input -->
			{input}
			<!-- END: input -->
			<!-- END: ds_claveC4 -->
			<!-- BEGIN: ds_claveC5 -->
			<!-- BEGIN: input -->
			{input}
			<!-- END: input -->
			<!-- END: ds_claveC5 -->
			<!-- BEGIN: ds_claveC6 -->
			<!-- BEGIN: input -->
			{input}
			<!-- END: input -->
			<!-- END: ds_claveC6 -->

		</div>
		
	</div>
	<div id="tabs-5" style="position:relative;">
		<div style="color:#A43B3B; font-weight:bold">{titulo_proyectos}</div>
		{HTMLProyectos}
		{fieldsetopen}
		{otrosProyectos_title}
		<!-- BEGIN: ds_organismoproyecto -->
		<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">

			<!-- BEGIN: label -->
			<label for="{input_name}">{value} {required}:</label>
			<!-- END: label -->
			<!-- BEGIN: input -->
			{input}
			<!-- END: input -->



		</div>
		<!-- END: ds_organismoproyecto -->
		<!-- BEGIN: ds_codigoproyecto -->
		<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">

			<!-- BEGIN: label -->
			<label for="{input_name}">{value} {required}:</label>
			<!-- END: label -->
			<!-- BEGIN: input -->
			{input}
			<!-- END: input -->



		</div>
		<!-- END: ds_codigoproyecto -->
			<!-- BEGIN: ds_directorproyecto -->
			<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">

				<!-- BEGIN: label -->
				<label for="{input_name}">{value} {required}:</label>
				<!-- END: label -->
				<!-- BEGIN: input -->
				{input}
				<!-- END: input -->



			</div>
			<!-- END: ds_directorproyecto -->
			<!-- BEGIN: ds_tituloproyecto -->
			<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">

				<!-- BEGIN: label -->
				<label for="{input_name}">{value} {required}:</label>
				<!-- END: label -->
				<!-- BEGIN: input -->
				{input}
				<!-- END: input -->



			</div>
			<!-- END: ds_tituloproyecto -->
		<!-- BEGIN: dt_proyectodesde -->
		<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">

			<!-- BEGIN: label -->
			<label for="{input_name}">{value} {required}:</label>
			<!-- END: label -->
			<!-- BEGIN: input -->
			{input}
			<!-- END: input -->



		</div>
		<!-- END: dt_proyectodesde -->
		<!-- BEGIN: dt_proyectohasta -->
		<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">

			<!-- BEGIN: label -->
			<label for="{input_name}">{value} {required}:</label>
			<!-- END: label -->
			<!-- BEGIN: input -->
			{input}
			<!-- END: input -->



		</div>
		<!-- END: dt_proyectohasta -->
			<!-- BEGIN: ds_archivo -->

			<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-ds_archivo">

				<!-- BEGIN: label -->
				<label for="ds_archivo">{value}:</label>
				<!-- END: label -->
				<!-- BEGIN: input -->
				<input id="ds_archivo" type="file" value="" size="32" name="ds_archivo" onChange="uploadAjax(this,'{actionFile}','ds_archivo')">
				<!-- END: input -->
				<span id="ds_archivo_cargado" >
						  <!-- Aqui van los archivos cargados -->
						  {ds_archivo_cargado}
						</span>
				<div style="color:#A43B3B; font-weight:bold">{label_archivo}</div>
			</div>
			<!-- END: ds_archivo -->
		{fieldsetclose}
	</div>
	<div id="tabs-6" style="position:relative;">
		{titulo_tipo_investigador}
		<div style="position: relative; float: left; width: 70%;">
		<!-- BEGIN: facultadplanilla_oid -->
		<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">

			<!-- BEGIN: label -->
			<label for="{input_name}">{value} *:</label>
			<!-- END: label -->
			<!-- BEGIN: input -->
			<br>{input}
			<!-- END: input -->
		</div>
		<!-- END: facultadplanilla_oid -->
		<!-- BEGIN: categoria_oid -->
					<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">
					    
					    <!-- BEGIN: label -->
					    <label for="{input_name}">{value}:</label>
					    <!-- END: label -->
					    <!-- BEGIN: input -->
					    {input}
					    <!-- END: input -->
					</div>
		<!-- END: categoria_oid -->
		<!-- BEGIN: equivalencia_oid -->
		<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}" >

			<!-- BEGIN: label -->
			<label for="{input_name}">{value} *:</label>
			<!-- END: label -->
			<!-- BEGIN: input -->
			{input}
			<!-- END: input -->
		</div>
		<!-- END: equivalencia_oid -->
		<!-- BEGIN: categoriasolicitada_oid -->
		<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-{input_name}">

			<!-- BEGIN: label -->
			<label for="{input_name}">{value} *:</label>
			<!-- END: label -->
			<!-- BEGIN: input -->
			{input}
			<!-- END: input -->
		</div>
		<!-- END: categoriasolicitada_oid -->

		<!-- BEGIN: ds_curriculum -->
					
					<div class="item" style="min-width: {minWidth};display:{display}"  id="item-div-ds_curriculum">
					    
					     <!-- BEGIN: label -->
					    <label for="ds_curriculum">{value} *:</label>
					    <!-- END: label -->
					    <!-- BEGIN: input -->
					    <input id="ds_curriculum" type="file" value="" size="32" name="ds_curriculum" onChange="uploadAjax(this,'{actionFile}','ds_curriculum')">
					    <!-- END: input -->
					    <span id="ds_curriculum_cargado" >
						  <!-- Aqui van los archivos cargados -->
						  {ds_curriculum_cargado}
						</span>
					   <div style="color:#A43B3B; font-weight:bold">{label_curriculum}</div> 
					</div>
		<!-- END: ds_curriculum -->
		
		
		</div>

		<div style="position: relative; float: left; width: 30%;">
			<div style="color:#A43B3B; font-weight:bold">{label_equivalencia_help}</div>
		</div>
		
	</div>
</fieldset>	
</div>
	</div>

</form>





<!-- BEGIN: buttons -->
<form id="buttons{inputId}">
	<fieldset class="tblFooters">
	
		<!-- BEGIN: submit -->
		<input type="button" value="{lbl_submit}" id="{form_id}_input_submit" onclick="javascript:submitForm('{form_id}');">
		<!-- END: submit -->
		
		<!-- BEGIN: submit_ajax -->
		<input type="button" value="{lbl_button}" id="{form_id}_input_submit_ajax" onclick="javascript: submitForm('{form_id}');">
		<!-- END: submit_ajax -->
		
		<!-- BEGIN: button -->
		<input type="button" value="{lbl_button}" id="{form_id}_input_button_{i}" onclick="javascript: {function}; ">
		<!-- END: button -->
	
		<!-- BEGIN: cancel -->
		<input type="button" value="{lbl_cancel}" id="{form_id}_input_cancel" onclick="javascript: {function};">
		<!-- END: cancel -->
		
		<div class="camposRequeridos">(*) {msg_required_fields}</div>	
	</fieldset>
</form>	
<!-- END: buttons -->
<!-- END: main -->